body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
    margin: 0px 0px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}
caption {
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: #007bff; /* Change color */
    text-transform: uppercase;
    letter-spacing: 1px;
}


table {
    width: 80%;
    margin: 20px auto;
    /* border-collapse: collapse; */
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 8px;
    text-align: center;
    margin: 0px 20px;
    
}

th {
    background: #007bff;
    color: white;
}

.action-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 20px;
}

.edit-btn {
    background: #28a745;
    color: white;
}

.delete-btn {
    background: #dc3545;
    color: white;
}