<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../static/register.css" />
 
    
</head>

<body onload="fetchUsers()">
    <div class="container">
        <h3 style="color: blue;">Register Form</h3>
        <form id="registrationForm">
            <input type="text" placeholder="Enter your name" id="name" required />
            <input type="number" placeholder="Enter your age" id="age" required />
            <input type="password" placeholder="Enter your password" id="password" required />
            <input type="email" placeholder="Enter your email" id="email" required />
            <button type="button" onclick="getValue()">Submit</button>
        </form>

    </div>

    <div>
        <hr width="90%">

        <table>
            <caption style="margin: 10px 0px; font-size: 18px; font-weight: bold;">Registered Users</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Age</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody id="containers">
                <!-- User data will be populated here -->
            </tbody>
        </table>
    </div>

    <script src="../static/register.js"></script>
</body>

</html>
