<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../static/register.css"/>
</head>
<body>
    <div>
        <h3 style="text-align: center;">Register Form</h3>

        <div class="register_container">
            <form id="registrationForm">
                <input type="text" placeholder="Enter your name" id="name" />
                <input type="number" placeholder="Enter your age" id="age" />
                <input type="password" placeholder="Enter your password" id="password"  />
                <input type="email" placeholder="Enter your email" id="email" />
                <button type="button" onclick="getValue()">Submit</button>
            </form>
        </div>
    </div>

    <script src="register.js"></script>
</body>
</html>
